* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#root, .viewArea {
    height: 100%;
    width: 100%;
}

.page-container {
    padding: 2em;
    height: calc(100% - 3em);
    display: flex;
}

.page-content {
    display: relative;
}

.ui.menu {
    margin-bottom: 0;
}