@font-face {
    font-family: "Pixel";
    src:url("./fonts/Pixel-LCD-7.woff") format("woff")
}

@font-face {
    font-family: "Rusty Bucket";
    src:url("./fonts/RustyBucket-Regular.ttf") format("truetype")
}
@font-face {
    font-family: "Katulamp";
    src:url("./fonts/KATULAMP.OTF") format("opentype")
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    transition: 0.5s;
}

#root, .viewArea {
    height: 100%;
    width: 100%;
}

.backdrop {
    height: 100%;
    background: url("./images/earth.jpg") no-repeat center;
    background-size: contain;  
}

.page-container {
    position: relative;
    top: 3em;
    padding: 0.5em;
    height: calc(100% - 3em);
}

.ui.menu {
    margin-bottom: 0;
}

.ui.cards{
    margin: 0;
    width: 245px;
}

.logo-container {
    padding: 0 5px !important;
}

.logo-container > img {
    height: 30px;
    width: 30px !important;
}

.project-container {
    margin: 3em 2em 2em 2em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project-card{
    margin: 1em !important;
    height:50%;
    width: 25%;
}


.project-card:hover {
    cursor: pointer;
    scale: 1.2;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.image > img {
    max-height: 100%;
    max-width: 100%;
}

.icon-collection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon-container {
    height:3.5em;
    width: 3.5em;
}
.icon-container > img {
    width: 100%;
    height: 100%;    
}

.modal-header {
    text-align:center;
}

.modal-url {
    text-align:center;
}

.modal-content{
    font-family: "KATULAMP";
    margin: 5px 0 0 20px;
    font-size: 40px;
    line-height: 1.2em;
}

.button-container {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
}

.clock-container {
    display: flex;
}

.landing-content {
    height: 100%;
}

.landing-icons {
    position: relative;
    display: flex;
    bottom: 20vh;
    left: 50%;
    transform: translate(-50%);
    height: 60px;
    justify-content: space-evenly;
}


.icon-text:visited, .icon-text:link {
    color: black;
}

.icon-text img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

.icon-text span {
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    position: relative;
    bottom: 35%;
    margin-left: 10px;
}

.icon-text {
    height: 100%;
    overflow: hidden;
    position: relative;
    padding:5px 15px;
    border-radius: 5px;
    
    span {
    z-index: 20;
    }
    
    &:after {
    background: #888888;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
    }
}

.icon-text:hover {
    &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}


/*
Css Media Queries -------------------------------------------------------
*/

@media only screen and (max-height: 537px) {
    .modal-header {
        font-size: 1.3em;
    }
    .modal-content {
        margin-top: 1em;
        font-size: 1em;
    }
    .rodal-dialog {
        height:80% !important;
        top: 3em !important;
    }
    .button-container {
        margin-top:0 !important;
    }
    .icon-text span {
        display:none;
    }
}

@media only screen and (max-width:761px){
    .glitch {
        font-size: 7em !important;
    }
    
    .jobTitle {
        font-size: 2em !important;
        top:25px !important;
    }

    .icon-text span {
        display:none;
    }
}

@media only screen and (max-width:390px){
    .glitch {
        font-size: 6em !important;
    }

    .jobTitle {
        font-size: 1.55em !important;
        top: 15px !important;
    }
}

/*
CSS Keyframes --------------------------------------------
*/